/* Reset & Base */
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: Arial, sans-serif;
		}

		body {
			background-color: #f4f4f4;
		}

		/* Header Styles */
		.topNav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 20px;
			padding-right: 0px;
			background-color: #333;
			color: white;
			flex-wrap: wrap;
			box-sizing: border-box;
		}

		.topNavHome {
			font-size: 24px;
			font-weight: bold;
		}

		.topNavOptions ul {
			list-style: none;
			display: flex;
/*			gap: 20px;*/
			flex-wrap: wrap;
			height: 70px;
		}

		.topNavOptions li {
			cursor: pointer;
/*			padding: 30px 15px;*/
			display: flex;
			justify-content: center;
			align-items: center;
/*			border-radius: 5px;*/
			transition: background-color 0.3s ease, transform 0.2s ease;
/*			transition: background-color 0.3s ease;*/
/*			height: calc(100% - 1px);*/
			height: 100%;
			box-sizing: border-box;
/*			width: 70px;*/
			width: 100px;
/*			margin-bottom: 1px;*/
/*			margin-top: 1px;*/
			border: 1px solid #333;
		}

		.topNavOptions li:hover {
			background-color: #c97c5d;
/*			transform: scale(1.05);*/
			color: #FDFCF9;
			border: 1px solid #FDFCF9;
		}

		.topNavOptions li:active {
			/*background-color: #777;
			transform: scale(0.95);*/
			background-color: #FDFCF9;
/*			transform: scale(1.05);*/
			color: #333;
			border: 1px solid #FDFCF9;
		}

		/* Jumbotron Styles */
		.jumbotron {
			/*display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding: 50px 20px;
			background-color: #eaeaea;
			gap: 20px;*/

			position: relative;
			background-image: url("images/alesia-kazantceva-VWcPlbHglYc-unsplash.jpg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			min-height: 400px;
			overflow: hidden;
		}

		.overlay {
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  	right: 0;
		  	bottom: 0;
		  	background-color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
		  	z-index: 1;
		}

		.content {
		  	position: relative;
		  	z-index: 2;
		  	padding: 50px;
		  	color: #222;
		  	width: 100%;

		  	display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding: 50px 20px;
/*			background-color: #eaeaea;*/
			gap: 20px;
			height: 100%;
		}

		.emphasize1 {
/*			color: #A55D3D;*/
			color: #c97c5d;
			font-size: 60px;
		}

		.textAnimated button {
			background-color: #8A9A5B;
			padding-left: 10px;
			padding-right: 10px;
			height: 40px;
			font-size: 20px;
			border-radius: 5px;
			border: none;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
			box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
			cursor: pointer;
			transition: all 0.3s ease;
			color: #FDFCF9;
			margin-top: 20px;
		}

		.textAnimated button:hover {
			box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);
  			transform: translateY(-1px);
		}

		.textAnimated {
			width: 60%;
			position: relative;
			height: 200px;
/*			overflow: hidden;*/
			overflow: visible;
			flex: 1 1 300px;
			text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
		}

		.textAnimated > div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transform: translateX(-50px);
			transition: opacity 1s ease, transform 1s ease;
			padding: 20px;
		}

		.textAnimated > div h1{
			font-size: 50px;
		}

		.textAnimated > div p{
			font-size: 30px;
		}

		.textAnimated > div.active {
			opacity: 1;
			transform: translateX(0);
			z-index: 1;
		}

		.imageProfile {
			width: 35%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1 1 250px;
			margin-bottom: -50px;
		}

		.imageProfile img {
			max-width: 90%;
			height: auto;
/*			border-radius: 20px;*/
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			box-shadow: 0 5px 15px rgba(0,0,0,0.2);
			object-fit: contain;
		}

		.profile {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			padding: 30px 15px;
		}

		/* Responsive Media Queries */
		@media (max-width: 768px) {
			.jumbotron {
/*				flex-direction: column;*/
				flex-direction: row;
				text-align: center;
/*				height: 100vh;*/
/*				background-color: pink;*/
				background-size: cover;
			}

			.content {
				flex-direction: column;
			}

			.textAnimated,
			.imageProfile {
				width: 100%;
			}

			.textAnimated > div h1,.emphasize1 {
				font-size: 40px;
			}

			.textAnimated p {
				font-size: 16px;
			}

			.content {
				padding: 20px 20px;
			}
		}

		@media (max-width: 480px) {
			.jumbotron {
/*				height: 50vh;*/
				background-size: cover;
			}

			.topNavOptions ul {
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
			}

			.topNav {
				flex-direction: column;
				align-items: flex-start;
			}

			.textAnimated > div h1, .emphasize1{
			font-size: 35px;
			}

			.textAnimated > div p{
				font-size: 20px;
			}
		}